<div class="toast-wrapper">
  <div
    *ngFor="let toast of toasts"
    class="toast-item animate-fade-up"
    [ngClass]="toast.type"
    (click)="remove(toast.id)">

    <span class="toast-icon">
      <i class="fas"
         [class.fa-check-circle]="toast.type === 'success'"
         [class.fa-times-circle]="toast.type === 'error'"
         [class.fa-exclamation-triangle]="toast.type === 'warning'"
         [class.fa-info-circle]="toast.type === 'info'">
      </i>
    </span>
    <span class="toast-message">{{ toast.message }}</span>
    <button class="toast-close">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>